<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<HTML>

<HEAD>
<title>{{page.title}}</title>
<link rel="stylesheet" type="text/css" href="css/base2013.css?ver=10"/>
<meta property="og:title" content="VVV 2014"/> 
<meta property="og:type" content="activity"/> 
<meta property="og:url" content="http://wiki.icub.org/summerschool"/> 
<meta property="og:image" content="http://wiki.icub.org/summerschool/images/icub_hat.jpg"/> 
<meta property="og:site_name" content="iCub"/> 
<meta property="og:description"
      content="Veni Vidi Vici 2014, the 9th annual iCub summer school for happy humanoid hackers."/> 
<meta property="fb:admins" content="1604419538"/> 
<meta property="og:latitude" content="44.26791167620583"/> 
<meta property="og:longitude" content="9.391894340515137"/> 
<meta property="og:street-address" content="Via Portobello, 14"/> 
<meta property="og:locality" content="Sestri Levante"/> 
<meta property="og:region" content="GE"/> 
<meta property="og:postal-code" content="16039"/> 
<meta property="og:country-name" content="Italy"/> 
<meta property="og:email" content="vvv13-admin@icub.org"/> 

<style type="text/css"> 
#twitter_div { /* width was 400 */
  display: block; width: 750px; background: #ddd; border: 1px solid #888; padding: 10px; margin: 10px;
}
#twitter_update_list {
 list-style-type: none; padding: 0; margin: 0;
}
#twitter_update_list li {
 margin-top: 5px;
}
.todo {
background: #faa;
font-weight: bold;
}
</style> 
</HEAD>

<BODY>

<div id="wrapper">

 <a id="skipnav" href="#content">Skip to content</a>


<div class="top">
<h1><a class="logo" href="index.html">Veni Vidi Vici '14</a></h1>
<h2><a class="logo" href="index.html">The iCub 
Summer School</a></h2>
<h3><a class="logo" href="details.html">July 21-30, 2014</a></h3>
<br>
</div>


<div id="menu">
<div class="title">The School</div>
<ul>
<li class="item"><A HREF='index.html'>Main Page</A></li>
<li class="item"><A HREF='details.html'>Venue Information</A></li>
<li class="item"><A HREF='dates.html'>Important Dates</A></li>
<li class="item"><A HREF='instructors.html'>Who We Are</A></li>
</ul>

<a href="http://www.iit.it/icub"><img src='images/iit_logo_150.png' /></a>
<a href="http://www.codyco.eu"><img src='images/codyco_logo_150.png' /></a>

<div class="title">Organizations</div>
<ul>
<li class="item"><A HREF='http://www.icub.org/'>The iCub family</A></li>
<li class="item"><A HREF='http://www.iit.it/icub'>IIT</A></li>
<li class="item"><A HREF='http://www.codyco.eu'>CoDyCo</A></li>
</ul>
</div>

<a name="content"></a>
<div class="content">

<p class='draft-alert'>This is a draft.</p>
  